# NOTE: This files purpose is to spin-up the project for testing it in CI.
#       Please do not understand it as recommendation for an production
#       docker-compose setup. For that see the README. If you have additions
#       to make, please add them there.
---
services:
  humhub:
    image: docker.io/mriedmann/humhub:latest
    ports:
      - "8080:80"
    environment:
      HUMHUB_DB_USER: ${HUMHUB_DB_USER}
      HUMHUB_DB_PASSWORD: ${HUMHUB_DB_PASSWORD}
      HUMHUB_DB_HOST: "db"
      HUMHUB_DB_NAME: "humhub"
      HUMHUB_AUTO_INSTALL: 1
      HUMHUB_DEBUG: 1
      HUMHUB_PROTO: "https"
      HUMHUB_HOST: "localhost"
      # Mailer install setup
      HUMHUB_MAILER_SYSTEM_EMAIL_ADDRESS: "noreply@example.com"
      HUMHUB_MAILER_SYSTEM_EMAIL_NAME: "HumHub"
      HUMHUB_MAILER_TRANSPORT_TYPE: "smtp"
      HUMHUB_MAILER_HOSTNAME: "mailer"
      HUMHUB_MAILER_PORT: 1025
      #HUMHUB_MAILER_USERNAME:
      #HUMHUB_MAILER_PASSWORD:
      #HUMHUB_MAILER_ENCRYPTION:
      HUMHUB_MAILER_ALLOW_SELF_SIGNED_CERTS: 0
      # Cache Config
      HUMHUB_CACHE_EXPIRE_TIME: 3600
      HUMHUB_CACHE_CLASS: yii\redis\Cache
      HUMHUB_QUEUE_CLASS: humhub\modules\queue\driver\Redis
      HUMHUB_REDIS_HOSTNAME: redis
      HUMHUB_REDIS_PORT: 6379
      HUMHUB_REDIS_PASSWORD: redis_password
      # Module Config
      # If a module is listed as enabled and disabled, the disabled status
      # will always overrule the enabled status.
      #HUMHUB_DISABLE_MODULES: 'ModA ModB ModC'
      #HUMHUB_ENABLE_MODULES: 'ModX ModY ModZ'
    volumes:
      - "config:/var/www/localhost/htdocs/protected/config"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/ping"]
      interval: 30s
      timeout: 10s
      retries: 3
  db:
    image: mariadb:10.4
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: "humhub"
      MARIADB_USER: ${HUMHUB_DB_USER}
      MARIADB_PASSWORD: ${HUMHUB_DB_PASSWORD}
    volumes:
      - "mariadb:/var/lib/mysql"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "--silent"]
      interval: 30s
      timeout: 10s
      retries: 3
  mailer:
    image: sj26/mailcatcher:latest
    restart: always
    expose:
      - 1025
    ports:
      - "1080:1080"
  redis:
    image: redis:8.4-alpine
    command: redis-server --requirepass "redis_password"
    expose:
      - "6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]

volumes:
  config: {}
  mariadb: {}
